{% extends('TodoBundle::layout.html.twig') %}

{% block content %}
    <div class="container">
        <h1>What is Procrasto?</h1>            
        
        <br />
        
        <p class="well">Simply put, Procrasto is a todo web application!</p>
    </div>
{% endblock %}