{% extends('TodoBundle::layout.html.twig') %}

{% block content %}
    <div class="container" style="text-align: center;">
        <div class="row">
            <div class="span3">&nbsp;</div>
            <div class="span6">
                <form action="{{ path('_beta') }}" method="post" class="form-horizontal">    
                    <fieldset>
                        <legend>Participate in our beta testing!</legend>       
                        
                        <br />
                        
                        {{ form_widget(form) }} <input type="submit" class="btn btn-primary" name="_submit" value="Sign Up" />
                    </fieldset>
                </form>
            </div>
            <div class="span3">&nbsp;</div>
        </div>
    </div>    
{% endblock %}