{% extends('XMBForumBundle::layout.html.twig') %}

{% block breadcrumbs %}
    <li class="active"><a href="{{ path('_home') }}">Registration Successful</a></li>
{% endblock %}

{% block content_length %}12{% endblock %}
{% block sidebar_content %} {% endblock %}

{% block content %}
    <div class="span3">&nbsp;</div>
    <div class="alert alert-success span4">
        <div class="alert-heading">
            <h2>Registration Successful</h2>
        </div>
        
        Your registration was successful, {{ app.user.username }} { MORE CONTENT HERE }
    </div>
    <div class="span3">&nbsp;</div>
{% endblock %}