{% extends('XMBForumBundle::layout.html.twig') %}
     
{% block content %}                 
    <div class="alert alert-success">
        <strong>XMB Information</strong> You are currently running the latest version of XMB Forum!
    </div>
           
{% endblock %}

{% block sidebar %}
    <div class="sidebar-info">
        <ul class="nav nav-pills">
            <li><a href="{{ path('_home') }}"><i class="icon-home icon-white"></i> Forum Home</a></li>
            <li class="nav-header">Forums</li>
            <li><a href="{{ path('admin_forums') }}">Manage Forums</a></li>
            <li class="nav-header">Settings</li>                        
            <li><a href="oije">Manage Settings</a></li>
            
            <li class="nav-header">Users</li>
        </ul>
    </div>
{% endblock %}

{% block navigation_links %}
    <div class="pull-right">
        <div class="brand">
            <h3>Admin Control Panel</h3>
        </div>
    </div>
{% endblock %}

{% block breadcrumb_area %}{% endblock %}
{% block footer %}{% endblock %}