{% extends('XMBForumBundle::layout.html.twig') %}

{% block navigation_links %}
    <div class="pull-right">
        <div class="brand">
            <h3>Installation</h3>
        </div>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Installation</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="alert alert-success">                
                <strong>Notice: </strong> You have successfully updated XMB Forum!                                
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar_content %}{% endblock %}