{% extends('XMBForumBundle::layout.html.twig') %}

{% block breadcrumbs %}
    <li class="active"><a href="{{ path('fos_user_security_login') }}">Login</a></li>
{% endblock %}

{% block content_length %}12{% endblock %}

{% block content %}
    <form class="form-horizontal" action="{{ path('fos_user_security_check') }}" method="post">
        <hr />
        
        <div class="row">
            <div class="span3">&nbsp;</div>
            <div class="span6">                                        
                <fieldset>                
                    <legend>Login</legend>
                    
                    <div class="control-group">
                        <label class="control-label">Username:</label>
                        
                        <div class="controls">
                            <input type="text" class="input-large" name="_username" placeholder="Username / Email" required="required" />
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label">Password:</label>
                        
                        <div class="controls">
                            <input type="password" class="input-large" name="_password" placeholder="Password" required="required" />
                        </div>
                    </div>   
                    
                    <div class="control-group">
                        <div class="pull-right">
                            <a href="{{ path('fos_user_resetting_request') }}">Forget Password?</a>
                        </div>
                    </div>
                    
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Login" name="_submit" />                    
                    </div>                                                              
                    
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                </fieldset>
            </div>        
            <div class="span3">&nbsp;</div>
        </div>
    </form>
{% endblock %}

{% block sidebar_content %}{% endblock %}