<table class="table">
    <tr>
        <td style="width: 80%;">
            Hello world
        </td>
        
        <td>
            <div class="sidebar">
                <ul class="nav nav-pills sidebar-info">
                    <li><a href="#">Inbox</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>