{% extends('XMBForumBundle::layout.html.twig') %}

{% block breadcrumbs %}
    <li class="active"><a href="{{ path('_messages') }}">Messages</a></li>
{% endblock %}

{% block content %}
    <div class="content-block">
    
    </div>
{% endblock %}