<strong><a href="{{ path('_profile', {username: thread.username}) }}">{{ thread.username }}</a></strong>
                        
<hr />

<dl class="sidebar-info visible-desktop" style="margin-top: 0;">
    <dt><strong>Location:</strong></dt> <dd><small>The Forums</small></dd>
    <dt><strong>Posts:</strong></dt> <dd><small>1</small></dd>
                                        
</dl>