{% extends('TodoBundle::layout.html.twig') %}

{% block content %}
    <div class="container">
        <h2>Thank you for your interest!</h2> <br />
        
        <p class="well">We have successfully received your submission! We will contact you closer to the Beta date with more information.</p>
    </div>
{% endblock %}